# Gradle
.gradle
build

# IntelliJ project files
.idea
*.iml
out
gen

# VSCode project files
bin/
.settings
.classpath
.project


# Misc
/util/src/main/resources/de/deltaeight/libartnet/util/Art-NetOemCodes.h
